<footer id="Footer" class="clearfix">
  <div class="footer_action">
    <div class="container">
      <div class="column one column_column">
        <span class="flv_color_white">
                  <span class="flv_font_24"><strong>We're always available to answer any questions you may have</strong>&nbsp;&nbsp;
                </span>
        <a class="button button_large button_js footer-action-button" href="/contact">
                  <span class="button_label">CONTACT US</span>
                </a>
      </div>
    </div>
  </div>
  <div class="widgets_wrapper">
    <div class="container">
      <div class="one-third column">
        <aside id="text-7" class="widget widget_text footer-widget-about">
          <div class="textwidget">
            <h3>Connect</h3>
            <p>
              <span class="big">We strive to provide the best plumbing services possible.</span>
            </p>
            <p>
              We bring over 15 years experience covering apartment buildings, condominiums and commercial buildings.
            </p>
            <a href="<%= common.social.facebook %>" class="icon_bar icon_bar_facebook icon_bar_small">
                          <span class="t"><i class="icon-facebook"></i></span>
                          <span class="b"><i class="icon-facebook"></i></span>
                        </a>
            <a href="<%= common.social.instagram %>" class="icon_bar icon_bar_instagram icon_bar_small">
                          <span class="t"><i class="icon-instagram"></i></span>
                          <span class="b"><i class="icon-instagram"></i></span>
                        </a>
            <a href="mailto:<%= common.email %>" class="icon_bar icon_bar_email icon_bar_small">
                          <span class="t"><i class="icon-email"></i></span>
                          <span class="b"><i class="icon-email"></i></span>
                        </a>
            <a href="tel:<%= common.phone.src %>" class="icon_bar icon_bar_phone icon_bar_small">
                          <span class="t"><i class="icon-phone"></i></span>
                          <span class="b"><i class="icon-phone"></i></span>
                        </a>
          </div>
        </aside>
      </div>
      <div class="one-third column">
        <div class="get_in_touch">
          <h3>Get in touch</h3>
          <div class="get_in_touch_wrapper">
            <ul>
              <li class="address">
                <span class="icon"><i class="icon-location"></i></span>
                <span class="address_wrapper"><strong>Kearney Plumbing Inc.</strong>
                                    <br> <%= common.address.street %>,
                                    <br> <%= common.address.city %>, <%= common.address.state %>, <%= common.address.zip %></span>
              </li>
              <li class="phone">
                <span class="icon"><i class="icon-phone"></i></span>
                <p>
                  <a href="tel:<%= common.phone.src %>">
                    <%= common.phone.display %>
                  </a>
                </p>
              </li>
              <li class="mail">
                <span class="icon"><i class="icon-mail"></i></span>
                <p>
                  <a href="mailto:<%= common.email %>">
                    <%= common.email %>
                  </a>
                </p>
              </li>
              <li class="www">
                <span class="icon"><i class="icon-link"></i></span>
                <p>
                  <a target="_blank" href="<%= common.website %>">
                    <%= common.website %>
                  </a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="one-third column">
        <div class="footer-action-map">
          <h3>Find us</h3>
          <div class="google-map-wrapper">
            <div class="google-map" id="google-map-area-5496904152035" style="width:100%; height:230px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_copy">
    <div class="container">
      <div class="column one">
        <a id="back_to_top" href="#" class="button button_left button_js"><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
        <div class="copyright">
          &copy;
          <%= new Date().getFullYear() %> Kearney Plumbing Inc. - Website by <a href="https://www.shanebarry.com" target="_blank">Shane Barry</a>
        </div>
        <ul class="social">
          <li class="facebook">
            <a href="<%= common.social.facebook %>" title="Facebook" target="_blank"><i class="icon-facebook"></i></a>
          </li>
          <li class="instagram">
            <a href="<%= common.social.instagram %>" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
