<header id="Header">
    <div id="Action_bar">
        <div class="container">
            <div class="column one">
                <!-- Header - contact info area-->
                <ul class="contact_details">
                    <li class="slogan">
                        Have any questions?
                    </li>
                    <li class="phone">
                      <i class="icon-phone"></i><a href="tel:<%= common.phone.src %>"><%= common.phone.display %></a>
                    </li>
                    <li class="mail">
                      <i class="icon-mail-line"></i><a href="mailto:<%= common.email %>"><%= common.email %></a>
                    </li>
                </ul>
                <!--Social info area-->
                <ul class="social">
                    <li class="facebook">
                      <a href="<%= common.social.facebook %>" title="Facebook"><i class="icon-facebook"></i></a>
                    </li>
                    <li class="instagram">
                      <a href="<%= common.social.instagram %>" title="Instagram"><i class="icon-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="Top_bar">
        <div class="container">
            <div class="column one">
                <div class="top_bar_left clearfix">
                    <!-- Logo-->
                    <div class="logo">
                        <a id="logo" href="/" title="Kearney Plumbing Inc."><img class="scale-with-grid" src="images/logo1.png" alt="Kearney Plumbing Logo" />
                                    </a>
                    </div>
                    <!-- Main menu-->
                    <div class="menu_wrapper">
                        <nav id="menu">
                            <ul id="menu-main-menu" class="menu">
                                <li class="current-menu-item">
                                    <a href="/"><span>Home</span></a>
                                </li>
                                <li>
                                    <a href="features-color-skins.html"><span>About us</span></a>
                                </li>
                                <li>
                                    <a href="features-color-skins.html"><span>Services</span></a>
                                </li>
                                <li>
                                    <a href="portfolio-full-grid.html"><span>Projects</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="portfolio-full-grid.html"><span>Full Width</span></a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="portfolio-full-flat.html"><span>Flat</span></a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-full-grid.html"><span>Grid</span></a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-full-list.html"><span>List</span></a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-full-masonry.html"><span>Masonry</span></a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-full-masonry-flat.html"><span>Masonry Flat</span></a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-full-filtering.html"><span>jQuery Filtering</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="features-color-skins.html"><span>Contact</span></a>
                                </li>
                            </ul>
                        </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                    </div>
                </div>
                <div class="top_bar_right">
                    <div class="top_bar_right_wrapper">
                        <!-- Shopping cart icon-->
                        <a id="header_cart" href="#"><i class="icon-basket"></i><span>8</span></a>
                        <a id="search_button" href="#"><i class="icon-search"></i></a>
                        <!--wpml flags selector-->
                        <div class="wpml-languages enabled">
                            <a class="active tooltip" href="#" data-tooltip="No translations available for this page"><img src="images/flags/en.png" alt="English" /><i class="icon-down-open-mini"></i>
                                        </a>
                            <ul class="wpml-lang-dropdown">
                                <li>
                                    <a href="#"><img src="images/flags/fr.png" alt="French" />
                                                </a>
                                </li>
                                <li>
                                    <a href="#"><img src="images/flags/de.png" alt="German" />
                                                </a>
                                </li>
                                <li>
                                    <a href="#"><img src="images/flags/pl.png" alt="Polish" />
                                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mfn-main-slider" id="mfn-rev-slider">
        <div id="rev_slider_34_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container flv_rev_14">
            <div id="rev_slider_34_2" class="rev_slider fullwidthabanner flv_rev_13">
                <ul>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-thumb="images/slide-home-thumb.jpg"
                        data-saveperformance="off">
                      <img src="<%= common.assets %>/home_slider_1.jpg" alt="slide-home-bg" data-bgposition="center top"
                            data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption mfnrs_home sft tp-resizeme flv_rev_2" data-x="center" data-hoffset="-378"
                            data-y="center" data-voffset="-79" data-speed="500" data-start="3000"
                            data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <span class='themecolor'>1</span> theme
                            <br>
                            <span class='themecolor'><i class='icon-infinity'></i></span>                            opportunities
                        </div>
                        <div class="tp-caption mfnrs_home_small sfl tp-resizeme flv_rev_1" data-x="center"
                            data-hoffset="-383" data-y="center" data-voffset="43" data-speed="500"
                            data-start="3300" data-easing="Power3.easeInOut" data-splitin="none"
                            data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                            data-endspeed="300">
                            The easiest way to build different sites
                            <br> without many themes
                        </div>
                        <div class="tp-caption mfnrs_home_small sfr tp-resizeme flv_rev_11" data-x="center"
                            data-hoffset="-391" data-y="center" data-voffset="132"
                            data-speed="500" data-start="3600" data-easing="Power3.easeInOut"
                            data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                            data-endelementdelay="0.1" data-endspeed="300">
                            <div class="hr_zigzag">
                                <i class="icon-down-open"></i><i class="icon-down-open"></i>
                                <i
                                    class="icon-down-open"></i>
                            </div>
                        </div>
                        <div class="tp-caption mfnrs_home_tiny sfb tp-resizeme flv_rev_10" data-x="center"
                            data-hoffset="-387" data-y="center" data-voffset="196"
                            data-speed="500" data-start="3900" data-easing="Power3.easeInOut"
                            data-splitin="none" data-splitout="none" data-elementdelay="0.1"
                            data-endelementdelay="0.1" data-endspeed="300">
                            <a class='scroll flv_color_white_1' href='#start'><span class="tooltip" data-tooltip="Click to see more" >Check out</span> what we have prepared for you</a>
                        </div>
                    </li>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-thumb="images/slide-home-2-thumb.jpg"
                        data-saveperformance="off">
                        <img src="images/slide-home-2-bg.jpg" alt="slide-home-2-bg" data-bgposition="center top"
                            data-bgfit="cover" data-bgrepeat="no-repeat">
                        <div class="tp-caption lft flv_rev_9" data-x="right" data-hoffset="-50" data-y="bottom"
                            data-voffset="240" data-speed="500" data-start="1000" data-easing="Power3.easeInOut"
                            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="images/slide-home-2-1.png" alt="">
                        </div>
                        <div class="tp-caption lft flv_rev_8" data-x="right" data-hoffset="-40" data-y="bottom"
                            data-voffset="190" data-speed="500" data-start="1500" data-easing="Power3.easeInOut"
                            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="images/slide-home-2-2.png" alt="">
                        </div>
                        <div class="tp-caption lft flv_rev_7" data-x="right" data-hoffset="-30" data-y="bottom"
                            data-voffset="140" data-speed="500" data-start="2000" data-easing="Power3.easeInOut"
                            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="images/slide-home-2-3.png" alt="">
                        </div>
                        <div class="tp-caption lft flv_rev_6" data-x="right" data-hoffset="-20" data-y="bottom"
                            data-voffset="90" data-speed="500" data-start="2500" data-easing="Power3.easeInOut"
                            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="images/slide-home-2-4.png" alt="">
                        </div>
                        <div class="tp-caption lft flv_rev_5" data-x="right" data-hoffset="-10" data-y="bottom"
                            data-voffset="40" data-speed="500" data-start="3000" data-easing="Power3.easeInOut"
                            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><img src="images/slide-home-2-5.png" alt="">
                        </div>
                        <div class="tp-caption large_dark sft tp-resizeme flv_rev_4" data-x="center" data-hoffset="-376"
                            data-y="center" data-voffset="-77" data-speed="500" data-start="3500"
                            data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <span class='themecolor'>200+</span> layouts
                            <br> dedicated for you
                        </div>
                        <div class="tp-caption mfnrs_home_small sfl tp-resizeme flv_rev_2" data-x="center"
                            data-hoffset="-387" data-y="center" data-voffset="48" data-speed="500"
                            data-start="3700" data-easing="Power3.easeInOut" data-splitin="none"
                            data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1"
                            data-endspeed="300">
                            <span class="flv_rev_3">The easiest way to build different sites
												<br>
												without many themes</span>
                        </div>
                        <div class="tp-caption sfb tp-resizeme flv_rev_1" data-x="center" data-hoffset="-481"
                            data-y="center" data-voffset="161" data-speed="500" data-start="4000"
                            data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                            data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            <a href='#' class='tp-button button button_theme'>See all shortcodes</a>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom flv_vis_hid"></div>
            </div>
        </div>
    </div>
</header>
